<div id='client-card' class='card'>
  <div id='client-card__info' class='card-content white-text'>
    <p class='card-title white-text'><%= @client.fullname.upcase %></p>
    <p>
      <span class='client-card__info-field'>ID:</span>
      <%= @client.id %>
    </p>
    <p>
      <span class='client-card__info-field'>Date of birth:</span>
      <%= @client.mmddyyyy %>
    </p>
    <p>
      <span class='client-card__info-field'>Gender:</span>
      <%= @client.gender %>
    </p>
    <p>
      <span class='client-card__info-field'>Telephone:</span>
      <%= @client.telephone %>
    </p>
  </div>
  <div id='client-card__links' class='card-action'>
    <%= link_to edit_client_path(@client),
      id: "edit-client-button" do %>
      Edit client
    <% end %>
    <%= link_to client_path(@client), method: :delete, 
      data: { confirm: "Are you sure? Deleting client cannot be undone." } do %>
      Delete client
    <% end %>
    <%= link_to new_client_episode_path(@client),
      id: "btn__new-client-episode" do %>
      Create new episode
    <% end %>
  </div>
</div>