<%= form_with url: clients_path, method: :get, local: true, class: 'search-form' do |f| %>
  <div class='row'> 
    <div class='input-field col s12 l6'>
      <%= label_tag "id", "ID" %>
      <%= text_field_tag 'id', params[:id],
        class: 'search-form__input' %>
    </div>
  </div>

  <div class='row'>
    <div class='input-field col s12 l6 pull-l6'>
      <%= label_tag "firstname", "First name" %>
      <%= text_field_tag 'firstname', params[:firstname],
        class: 'search-form__input' %>
    </div>
    
    <div class='input-field col s12 l6'>
      <%= label_tag "lastname", "Last name" %>
      <%= text_field_tag 'lastname', params[:lastname],
        class: 'search-form__input' %>
    </div>
  </div>

  <div class='row'>
    <div class='col s12 l7'>
      <%= submit_tag 'Search', class: 'search-form__submit btn' %>
    </div>
  </div>
<% end %>