<%= form_with model: @client, local: true do |form| %>
  <div class="input-field">
    <%= form.label :first_name, "First name", class: set_label_class(:first_name) %>
    <%= form.text_field :first_name %>
  </div>
  
  <div class="input-field">
    <%= form.label :last_name, "Last name", class: set_label_class(:last_name) %>
    <%= form.text_field :last_name %>
  </div>
  
  <div class="input-field">
    <% form.label :dob %>
    <%= form.date_field :dob %>
  </div>

  <div class="input-field">
    <%= form.label :telephone, "Telephone", class: set_label_class(:telephone) %>
    <%= form.text_field :telephone %>
  </div>

  <%= form.submit form_submit_action, class: "btn teal" %>
<% end %>