<p>Respondent: <%= if_client(episode.respondent, :fullname) %></p>
<p>Date of birth: <%= if_client(episode.respondent, :mmddyyyy) %></p>
<p>Gender: <%= if_client(episode.respondent, :gender) %></p>
<p>Relationship:</p>
<% episode.relationship.each do |type| %>
  <li><%= type %></li>
<% end %>
<p>Victimization:</p>
<% episode.victimization.each do |type| %>
  <li><%= type %></li>
<% end %>
<p>Respondent arrest: <%= episode.arrest %></p>
<p>Status: <%= episode.open %></p>