<p>
  <span class='card-content__info-field'>Respondent:</span>
  <%= decorated_respondent(episode.respondent, :fullname) %>
</p>
<p>
  <span class='card-content__info-field'>Date of birth:</span>
  <%= decorated_respondent(episode.respondent, :mmddyyyy) %>
  </p>
<p>
  <span class='card-content__info-field'>Gender:</span>
  <%= decorated_respondent(episode.respondent, :gender) %>
</p>

<span class='card-content__info-field'>Relationship:</span>
<% episode.relationship.each do |type| %>
  <p><%= type %></p>
<% end %>

<span class='card-content__info-field'>Victimization:</span>
<% episode.victimization.each do |type| %>
  <p><%= type %></p>
<% end %>

<p>
  <span class='card-content__info-field'>Respondent arrest:</span>
  <%= episode.arrest %>
</p>
<p>
  <span class='card-content__info-field'>Status:</span>
  <%= episode.open %>
</p>