  <%= form_with model: [@petitioner, @episode], local: true do |f| %>
    <div id="respondent-info" class="row">
      <%= f.fields_for :respondent, Client.new do |respondent_f| %>
        <div class="input-field col s10">
          <%= respondent_f.label :firstname, "Respondent's first name" %>
          <%= respondent_f.text_field :firstname, id: 'respondent_firstname' %>
        </div>        
        <div class="input-field col s10">
          <%= respondent_f.label :lastname, "Respondent's last name" %>
          <%= respondent_f.text_field :lastname, id: 'respondent_lastname' %>
        </div>
      <% end %>

      <div id="respondent-info-arrest" class="col">
        Arrested?
          <%= f.radio_button :arrest, true, id: "episode_arrest_true" %>
          <%= f.label "arrest_true", "Yes" %>
          <%= f.radio_button :arrest, false, id: "episode_arrest_false" %>
          <%= f.label "arrest_false", "No" %>
      </div>
    </div>
  
    <div class="row">
      <div class="col s6">
        <p>Relationship type:</p>
        <% @relationships.each do |type| %>
          <div>
            <%= f.check_box "relationship", { id: "episode_relationship[#{type}]", multiple: true }, type, nil %>
            <%= f.label "relationship[#{type}]", type %><br/>
          </div>
        <% end %>
      </div>
    
      <div class="col s6">
        <p>Victimization type:</p>
        <% @victimizations.each do |type| %>
          <%= f.check_box "victimization", { id: "episode_victimization[#{type}]", multiple: true }, type, nil %>
          <%= f.label "victimization[#{type}]", type %><br/>
        <% end %>
      </div>
    </div>
  
    <%= f.submit "Create Episode" %>
  <% end %>
</div>