<% provide :title, "##{@client.id}: Ep. #{@episode.id}" %>

<div class='row'>
  <div class='col s12'>
    <h2><%= @client.fullname %></h2>
    <div class='card episode-card'>
      <div class='card-content'>
        <%= render partial: 'episode_data', locals: { episode: @episode } %>
      </div>
    
      <div class='card-action'>
        <%=link_to new_episode_contact_path(@episode) do %>
          Create contact
        <% end %>
        <%=link_to new_episode_follow_up_path(@episode) do%>
          Schedule follow-up
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col s12'>
    <div class='card-panel'>
      <table class='follow-ups__table'>
        <caption>Follow-Ups</caption>
        <thead>
          <tr>
            <th>Due Date</th>
            <th>Due Shift</th>
            <th>Assignee</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @follow_ups %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col s12'>
    <div class='card-panel'>
      <table id='contacts'>
        <caption>Contacts</caption>
        <thead>
          <tr>
            <th>Date</th>
            <th>Contact</th>
            <th>Services</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%= render @contacts %>
        </tbody>
      </table>
    </div>
  </div>
</div>