<tr id="contact-<%= contact.id %>">
  <td><%= contact.date_and_time %></td>
  <td><%= contact.body %></td>
  <td>
    <%= link_to "Edit contact", edit_contact_path(contact) %>
    <%= link_to "Delete contact", contact_path(contact), remote: true, method: :delete, data: { confirm: "Delete? You will not be able to undo."} %>
  </td>
</tr>