<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield(:title) %> | Empower
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |flash_type, message| %>
      <div class="alert alert-<%= flash_type %>">
        <button type='button' class='close fade' data-dismiss='alert'>
          <span aria-hidden="true">&times;</span>
        </button>
        <%= message %>
      </div>
    <% end%>
  
    <%= yield %>
  </body>
</html>
