<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield(:title) %> | Empower
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <% if user_signed_in?%>
      <%= render 'shared/navbar'%>
    <% end %>
    <div class="container">
      <%= render 'shared/flash'%>
      <%= yield %>
    </div>
  </body>
</html>